<<<<<<< HEAD
@import url(fields/index.css);

form {
    margin-top: 3rem;
}

fieldset {
    border: none;

    display: grid;
    gap: 1.5rem;
}

legend {
    font: 600 1rem/1.25 var(--font-family);
    margin-bottom: 1.5rem;
}

fieldset + fieldset {
    margin-top: 3rem;
}
=======
@import url(fields/index.css);

form {
    margin-top: 3rem;
}

fieldset {
    border: none;

    display: grid;
    gap: 1.5rem;
}

legend {
    font: 600 1rem/1.25 var(--font-family);
    margin-bottom: 1.5rem;
}
>>>>>>> b5a7b5d22630ec768cf40fcb82ca8cc2074b8e79
