<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 --font-family: 'Poppins', sans-serif;
 --text: 400 1rem/1.5 var(--font-family);
 --text-sm: 400 0.875/1.4 var(--font-family);

 --text-primary: #292524;
 --text-secondary: #57534E;
 --text-tertiary: #8F8881;
 --text-highlight: #E43A12;

 --surface-primary: #FFFFFF;
 --surface-secondary: #FEE7D6;
 --surface-disabled: #F3F2F1;

 --stroke-default: #D6D3D1;
 --stroke-highlight: #F3541C;
 --semantic-error: #DC2626;

}

body {
    overflow: hidden;

    font: var(--text);
    color: var(--text-secondary);
}

h1, h2 {
    color: var(--text-primary)
}

img {
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1
}

.fex-2 {
    flex: 2
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 --font-family: 'Poppins', sans-serif;
 --text: 400 1rem/1.5 var(--font-family);
 --text-sm: 400 0.875/1.4 var(--font-family);

 --text-primary: #292524;
 --text-secondary: #57534E;
 --text-tertiary: #8F8881;
 --text-highlight: #E43A12;

 --surface-primary: #FFFFFF;
 --surface-secondary: #FEE7D6;

 --stroke-default: #D6D3D1;
 --stroke-highlight: #F3541C;
 --semantic-error: #DC2626;

}

body {
    overflow: hidden;

    font: var(--text);
    color: var(--text-secondary);
}

h1, h2 {
    color: var(--text-primary)
}

img {
    max-width: 100%;
    height: auto;
>>>>>>> b5a7b5d22630ec768cf40fcb82ca8cc2074b8e79
}