<<<<<<< HEAD
#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }

    & .back {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;
    }
}

aside {
    padding: 4rem;
    background-color: var(--surface-secondary);

    & .main-container {
        max-width: 31rem;

        & > img {
            margin-top: 2rem;
        }
    }

    & h2 {
     font: 600 2.5rem/1.25 var(--font-family); 
     margin-bottom: .5rem;   
     & span {
        color: var(--text-highlight);
     }
    }
=======
#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }

    & .back {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;
    }
}

aside {
    padding: 4rem;
    background-color: var(--surface-secondary);

    & .main-container {
        max-width: 31rem;

        & > img {
            margin-top: 2rem;
        }
    }

    & h2 {
     font: 600 2.5rem/1.25 var(--font-family); 
     margin-bottom: .5rem;   
     & span {
        color: var(--text-highlight);
     }
    }
>>>>>>> b5a7b5d22630ec768cf40fcb82ca8cc2074b8e79
}